@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --accent: #0855b1;
    --accent-hover: #010e54;
    --darkAccent: #535353;
    --text: #3f3f3f;
    --darktext: #242424;
    --white: #fbfbfb;
    --bg: #eef3f9;
    --content: #BEDDEE;
    --content-text: #00022B;
    --eval: #a9d7b7;
    --eval-text:#243127;
    --link: #C5C4E3;
    --link-text: #322C63;
    --homework: #FFDDBA;
    --homework-text: #703800;
    --personalNote: #dbdbdb;
    --personalNote-text: #4E4C4F;
    --personalLink: #dbdbdb;
    --personalLink-text: #4E4C4F;
    --holiday: #f9b1ac;
    --holiday-text: #52141A;
    --notification: #FEB848;
}

html{
    font-size: 16px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
}

*{
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
}

body {
    min-height: calc(100vh - 5rem);
    background-color: var(--bg);
    margin: 0;
    overflow: auto;
    color: var(--text);
    padding-bottom: 5rem;
}

#popup{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease-in-out;
    position: fixed;
    width: 24rem;
    /* height: 24rem; */
    background: var(--white);
    /* border: 1px solid var(--darkAccent); */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    left: calc(50vw - 13rem);
    top: calc(50vh - 13rem);
    padding: 2rem;
}

#popup input{
    display:block;
    width:100%;
    margin:0;
}

#popup input:last-of-type{
    margin-bottom:5rem;
}

#popup-buttons{
    position:absolute;
    bottom: 2rem;
    right: calc(2rem - 5px);
}

#settings-bar{
    position:fixed;
    bottom:0;
    left:0;
    height: 2rem;
    width: 100%;
    display:flex;
    justify-content:space-between;
}

#alt-savebar, #input-settings{
    display:flex;
    margin: 0.25rem 0.15rem 0.25rem 0;
}

#alt-savebar button, #alt-savebar .notification{
    padding: 0.25rem 0.5rem;
    margin: 0 0.5rem;
}

#alt-savebar .notification{
    margin-right: 0;
}

.submenu{
    background: var(--bg);
    position:absolute;
    bottom: 2rem;
    border-radius: 4px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.submenu p{
    margin-left:0.5rem;
    margin-right: 0.5rem;
}

.button-minimal{
    padding: 0.5rem;
    color: var(--text);
    background: var(--bg);
}

.button-minimal-chosen{
    color: var(--accent);
    margin: 0.5rem 0;
}

.button-minimal:hover{
    color: var(--accent-hover) !important;
}

#current-input-menu button{
    display:block;
    margin: 0.5rem !important;
    /* background: var(--bg);
    color: var(--text); */
}

.submenu button:hover{
    color: var(--white);
}

#input-settings{
    display:flex;
    margin-left:0.15rem;
}

#input-settings button{
    display:block;
}

#input-toggle-button{
    font-family: "Source Code Pro";
    padding: 0.25rem 0.5rem;
    margin: 0 0.5rem;
}

#input-toggle-menu{
    left: 0.65rem;
    transition: opacity 0.15s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

#input-toggle-menu p{
    font-size: 0.85rem;
}

#current-input{
    background: var(--content);
    color: var(--content-text);
    border-radius: 4px;
    margin-left:0 !important;
    padding: 0.2rem 0.5rem 0.3rem 0.5rem !important;
    border:none;
}

#alt-notification{
    padding: 0.15rem 0.6rem 0.35rem 0.6rem !important;
}

#current-input-menu{
    left:2.65rem;
    transition: opacity 0.15s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.calendar-container, .user-guide-container {
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto 0 auto;
    width: 94%; /* Adjusted to accommodate wider day divs */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-guide-container{
    align-items: start;
    text-align: left;
}

.user-guide-container ul li{
    margin: 0.5rem 0;
}

.user-guide-container p{
    margin-bottom: 0;
}

.user-guide-container #calendar{
    margin-bottom: 2rem;
}

input[type="date"]{
    color: var(--text);
}

.input-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Add some space between elements */
    margin-bottom: 10px;
    flex-direction: row; /* Default to row layout */
}

.input-subgroup {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Add some space between elements */
}

input[type="date"], input[type="text"] {
    margin: 10px 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Add some space between buttons */
    margin: 10px 0;
}

button{
    border:none;
    border-radius: 4px;
}

.button-default, .custom-file-upload {
    padding: 10px 20px;
    background-color: var(--accent);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
    font-weight: 500;
}

.button-default:hover, .custom-file-upload:hover {
    background-color: var(--accent-hover);
}

.button-default:disabled {
    background-color: var(--personalLink);
    cursor: not-allowed;
}

.separator {
    width: 1px;
    height: 30px;
    background-color: #ccc;
    margin: 0 10px;
}

#load-calendar, #merge-calendar {
    display: none;
}

#calendar {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr) 50px; /* Last short column for copy button */
    gap: 10px;
    width: 96%;
}

.day {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--bg);
    min-height: 100px;
    cursor: pointer;
    word-wrap: break-word; /* Ensure text wraps within the box */
}

.holiday {
    background-color: var(--holiday);
    color: var(--holiday-text); /* Ensuring contrast */
}

.content {
    background-color: var(--content);
    color: var(--content-text); /* Ensuring contrast */
    border-radius:4px;
}

.homework {
    background-color: var(--homework);
    color: var(--homework-text); /* Ensuring contrast */
    border-radius:4px;
}

.eval {
    background-color: var(--eval);
    color: var(--eval-text); /* Ensuring contrast */
    border-radius:4px;
}

.link {
    background-color: var(--link);
    color: var(--link-text); /* Ensuring contrast */
    border-radius:4px;
}

.link a {
    color: var(--link-text); /* Link color */
    text-decoration: none; /* Remove underline */
}

.link a:hover {
    text-decoration: underline; /* Underline on hover */
}

.link a:visited {
    color: var(--link-text); /* Ensure visited link color stays the same */
}

.notification {
    background-color: var(--notification); /* Softer color */
    color: var(--darktext); /* Ensuring contrast */
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    text-align: center;
    display: none;
}

#copy-notification{
    padding: 2rem;
    background: var(--accent);
    color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease-in-out;
    position: fixed;
    top: 1.2rem;
    left: calc(50vw - 10.5rem);
    width: 21rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.personal-note, .personal-link {
    background-color: var(--personalNote); /* Unique color */
    color: var(--personalNote-text); /* Ensuring contrast */
    border-radius:4px;
}

.personal-link a {
    color: var(--personalNote-text); /* Link color */
    text-decoration: none; /* Remove underline */
}

.personal-link a:hover {
    text-decoration: underline; /* Underline on hover */
}

.personal-link a:visited {
    color: var(--personalNote-text); /* Ensure visited link color stays the same */
}

.drag-handle {
    cursor: grab;
    margin-right: 5px;
}

.centered-link{
    display:block;
    margin: 2rem auto;
    text-align:center;
    text-decoration: none;
    padding: 1rem;
    color: var(--text);
    width: 8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background: var(--white);
    border-radius: 4px;
}

h1{
    color: var(--text);
    text-align:center;
}

.full-width-img{
    width: 100%;
    margin: 1rem 0;
}

/* Media query for responsive design */
@media (max-width: 1080px) {
    .calendar-container{
        width:96%;
    }
    #calendar{
        gap: 5px;
    }
    #settings-bar{
        background: var(--white);
        opacity: 0.95;
        height:3rem;
    }
    .input-group {
        flex-direction: column; /* Stack inputs and buttons vertically */
        align-items: center; /* Center inputs and buttons */
    }

    .separator {
        display: none; /* Hide separator on small screens */
    }

    .input-subgroup {
        flex-direction: row; /* Keep inputs and buttons in a row */
        align-items: center; /* Center inputs and buttons */
    }
    #input-toggle-button{
        padding: 0.25rem 1rem;
    }
    #input-toggle-menu{
        left: 0.4rem;
        bottom: 3.4rem;
    }
    #current-input{
        padding: 0.25rem 1rem !important;
        font-weight: 500;
    }
    #current-input-menu{
        left:2.9rem;
        bottom: 3.4rem;
    }
    #alt-savebar button{
        padding: 0.25rem 1rem;
    }
    #alt-notification{
        padding: 0.65rem 1rem 0.35rem 1rem !important;
        font-weight: 500;
    }
}

@media (max-width: 800px){
    #calendar {
        grid-template-columns: 1fr; /* Single column layout on small screens */
        gap: 10px;
    }
    #settings-bar{
        background: none;
        opacity: 1;
    }
    #popup{
        width:96%;
        left:2%;
    }    
}

@media (max-width: 500px){
    #settings-bar{
        background: var(--white);
        opacity: 0.95;
    }
    .calendar-container{
        width:100%;
    }
    .input-subgroup{
        gap: 4px;
    }
}